.container {
  max-width: 1300px;
  margin: auto;
}

.homepage {
  background-image: url("../assets/nitesh4.jpg");
}

.navbar {
  background-color: #0b0f1e;
  height: 4.6rem;
}

.navlinks {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 4.6rem;
  filter: drop-shadow(0 0 0px white);
}

.leftnav {
  font-size: 2.4rem;
  color: #127bf7;
  /* background-color: red; */
  width: 10%;
}

.nitesh_span {
  color: white;
}

.rightnav {
  display: flex;
  justify-content: center;
  gap: 3rem;

  /* background-color: blue; */
  width: 50%;
  font-size: 1.4rem;
  font-weight: 300;
}

.home {
  color: #127bf7;
  font-weight: 500;
}

.main {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.section_main {
  width: 100%;
  height: 40rem;
  display: flex;
  /* background-color: red; */
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

.social_links {
  display: flex;
  gap: 2rem;
  justify-content: center;
  color: #127bf7;
  margin-bottom: 1rem;
  /* background-color: blue; */
  /* padding: 0 4rem; */
}

.introduction_heading {
  filter: drop-shadow(0 0 200px #127bf7);
  font-size: 5.2rem;
  margin-bottom: 1.6rem;
  -webkit-text-stroke: 1px rgba(255, 255, 255, 0.116);
  color: transparent;
  background-image: linear-gradient(white, white);
  background-repeat: no-repeat;
  -webkit-background-clip: text;
  background-position: -720px 0;
  animation: backcolor 0.8s linear forwards;
  /* border-right: 1px solid white; */
}

@keyframes backcolor {
  100% {
    background-position: 0 0;
    /* font-size: 100px; */
  }
}

.description_heading {
  font-size: 1.2rem;
  margin-bottom: 3rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  font-weight: 300;
}

.action_button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  margin-bottom: 9rem;
  /* filter: drop-shadow(0 0 10px #127bf7); */
}

.my_work {
  background-color: #127bf7;
  padding: 0.8rem 2rem;
  border-radius: 50px;
  filter: drop-shadow(0 0 200px #127bf7);
}

.hire_me {
  background-color: white;

  padding: 0.8rem 2rem;
  border-radius: 50px;
  color: #127bf7;
  filter: drop-shadow(0 0 200px white);
}

/* SECTION DETAIL  */

.section_detail {
  background-image: url("../assets/background-body.jpg");
  height: 100vh;
}

.section_detail_layout {
  display: flex;
  justify-content: space-between;
  height: 100vh;
  align-items: center;
}

.detail_left {
  padding: 0 2.4rem;
  /* background-color: blue; */
  position: relative;
}

.my_skills {
  padding: 2rem;
  border: 1px solid #127bf7;
  position: absolute;
  top: 18rem;
  right: -10rem;
  width: 28rem;
  height: 22.8rem;
  background-color: rgba(2, 2, 18, 0.9);
}

/* .myimage {
  border: 1px solid #127bf7;
} */

.skills_list {
  display: flex;
  flex-direction: column;
  gap: 4rem;
  font-size: 1.4rem;
}

.web_div {
  border: 2px solid #127bf7;
  margin-top: 6px;
  height: 10px;
  width: 310px;
}

.progressbar {
  margin: 1px 0 0 1px;
  height: 4px;
  background-color: white;
}

.web_progressbar {
  width: 260px;
}

.graphic_progessbar {
  width: 200px;
}

.devOps_progessbar {
  width: 100px;
}

.footer {
  display: flex;
  flex: 1;
  padding: 2rem 0;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.copyright {
  font-weight: 300;
}

.title a {
  color: #0070f3;
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
}

@media (max-width: 600px) {
  .main {
    width: 100%;
    flex-direction: column;
  }
}

@media (prefers-color-scheme: dark) {
  .footer {
    border-color: #222;
  }
  .code {
    background: #111;
  }
  .logo img {
    filter: invert(1);
  }
}
