.container {
  max-width: 1300px;
  margin: auto;
}

.homepage {
  background-image: url("../assets/nitesh4.jpg");
}

.navbar {
  background-color: #0b0f1e;
  height: 4.6rem;
}

.navlinks {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 4.6rem;
}

.leftnav {
  font-size: 2.4rem;
  color: #127bf7;
  /* background-color: red; */
  width: 10%;
}

.nitesh_span {
  color: white;
}

.rightnav {
  display: flex;
  justify-content: center;
  gap: 3rem;

  /* background-color: blue; */
  width: 50%;
  font-size: 1.4rem;
  font-weight: 300;
}

.home {
  color: #127bf7;
  font-weight: 500;
}

.main {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.section_main {
  width: 100%;
  height: 40rem;
  display: flex;
  /* background-color: red; */
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

.social_links {
  display: flex;
  gap: 2rem;
  justify-content: center;
  color: #127bf7;
  margin-bottom: 1rem;
  /* background-color: blue; */
  /* padding: 0 4rem; */
}

.introduction_heading {
  font-size: 5.2rem;
  margin-bottom: 1.6rem;
}

.description_heading {
  font-size: 1.2rem;
  margin-bottom: 3rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  font-weight: 300;
}

.action_button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  margin-bottom: 9rem;
}

.my_work {
  background-color: #127bf7;
  padding: 0.8rem 2rem;
  border-radius: 50px;
}

.hire_me {
  background-color: white;
  padding: 0.8rem 2rem;
  border-radius: 50px;
  color: #127bf7;
}

.footer {
  display: flex;
  flex: 1;
  padding: 2rem 0;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.copyright {
  font-weight: 300;
}

.title a {
  color: #0070f3;
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
}

@media (max-width: 600px) {
  .main {
    width: 100%;
    flex-direction: column;
  }
}

@media (prefers-color-scheme: dark) {
  .footer {
    border-color: #222;
  }
  .code {
    background: #111;
  }
  .logo img {
    filter: invert(1);
  }
}
